* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




html {
    font-family: 'rubik', sans-serif;
    color: #444;
}

section {

    margin: auto;
    width: 1140px;
}

.nav-container {

    height: 80px;
    border: 1px solid rgb(226, 226, 226);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: none;
    align-items: center;

}

.a:link,
.a:visited,
a {
    cursor: pointer;
    text-decoration: none !important;
    color: #444 !important;
}

li {
    color: #444;
}

.nav-item {
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}


.nav-name {

    font-size: 20px;
    text-align: center;
}

.nav-p {
    font-size: 12px;
}

.border-button {
    border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
}

.section-title {
    font-size: 30px;
    font-weight: bold;
}

/* style phần about */
.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 30px; */


    /* padding: 30px; */
    font-size: 12px;
    line-height: 2;

    box-shadow: 500px 0px #e9ecef, -500px 0px #f1f3f5;
    ;
}

header {
    height: 100vh;


    background-image: url(https://github.com/NguyenVanQuocAnh/PersonalCV.github.io/blob/main/images/imgq.jpg?raw=true), linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6));

    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;


}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
}


.header-container {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.personal-info-logo {
    margin-top: 20px;
}

.p-logo {
    padding-right: 10px;
    height: 20px;
}

#target {
    padding: 5rem;
    background-color: #f1f3f5;
    text-align: justify;
}

#personal-info {
    padding: 5rem;
    background-color: #e9ecef;
}

.hobby {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;

    font-size: 10px;
}

.hobby-icon {
    border-radius: 50%;
    height: 3rem;


    padding: 10px;
    background: #fff;
    border: 2px solid #3cd8ac;
}

.skills {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.job-des span {
    background: #199cdb;
    display: inline-block;
    height: 5px;
    margin-right: 10px;
    width: 45px;
}

.job-des span- {
    background: #d8d8d8;
    display: inline-block;
    height: 5px;
    margin-right: 10px;
    width: 45px;
}


.mt-40 {

    list-style-type: none;
}

#job-info {
    padding: 32px;
}

.about-icon {
    height: 62px;
    height: 62px;
    align-self: center;

}

.job-container {

    display: grid;
    height: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px;

}

.job-name {
    margin: 0;
    padding: 0;
    font-size: 28px;
    align-self: center;
}

.job-detail {
    border: 1px solid rgb(228, 228, 228);
    padding: 40px 30px;
    text-align: justify;
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: 86px;
}

.job-des {
    padding: 10px;
    line-height: 2;
    grid-column: 1 / -1;

    /* grid-column-start: 1;
    grid-column-end: -1; */
}

.now-w {
    display: inline-block;
}

.nowbg {
    display: inline-block;
    color: #e9ecef;
    background-color: #199cdb;
    padding: 1px 4px;
    font-size: 14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.about-time {
    padding-bottom: 8px;
}



.now,
.tpspc {
    padding-top: 44px;
    list-style-type: disc;
}

.tpspc-ul {
    list-style-type: none;
    font-size: 12px;
}

.cert-container {
    padding: 20px;
    line-height: 1.5;

    box-shadow: 0 0 0 100vmax #f1f3f5;
    background-color: #f1f3f5;
    clip-path: inset(0 -100vmax);
}

.cert-name {
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;

}

.cert-detail {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.cert-info {
    display: flex;
    gap: 1.3rem;
    font-size: 14px;
}

.cert- {
    padding-top: 3rem;
    border-top: 1px solid #d6c08d;
    grid-column: 1 / -1;
}

.cert-- {
    border-left: 1px solid #d6c08d;
    padding-left: 1rem;
}






.icon {
    width: 24px;
    height: 24px;
    stroke: #199cdb;

}



.cert-img {
    height: auto;
    width: 340px;
}

.project-detail {}

.prjct-container {
    padding: 32px 20px;
}

.project-adj {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}





.projects {

    display: grid;
    /* grid-template-rows: 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr 1px; */
    border: 1px solid rgb(226, 226, 226);
    gap: 1rem;
    text-align: justify;

}

.project-img {
    height: auto;
    width: 379px;
}

.project-name {
    text-align: center;
    font-size: 16px;
    align-content: center;
}

.year {
    width: fit-content;
    display: inline-block;
    color: #e9ecef;
    background-color: #199cdb;
    padding: 8px 10px;
    font-size: 14px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}





.prjct-ad {
    justify-content: center;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.prjct-ad- {
    display: flex;
    gap: 4.5px;
    align-items: center;
}

.prjct-ad,
.prjct-ad-- {
    border-top: 1px solid rgb(226, 226, 226);
    padding-top: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.prjct-ad-- {
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 1rem;
    color: #444;

}

.footer-container {

    width: 100%;
    box-shadow: 0 0 0 100vmax #f7f7f7;
    background-color: #f7f7f7;
    clip-path: inset(0 -100vmax);
    background-size: cover;
    padding: 32px 20px;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    height: 20px;
    width: auto;
}

.footer-c {

    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
}
